In [11]:
import pandas as pd
df = pd.read_csv("books_prep.csv")
print(df['Author'].describe()['top'])

'Jeff Kinney'

In [18]:
import pandas as pd
df = pd.read_csv("books_prep.csv")
price_more = df[(df['Price (Above Average)']) == "Yes"]['User Rating'].mean()

print(price_more)

4.560103626943008

In [19]:
import pandas as pd
df = pd.read_csv("books_prep.csv")
price_less = df[(df['Price (Above Average)']) == "No"]['User Rating'].mean()

print(price_less)

4.649859943977591

In [44]:
from scipy.stats import levene
import pandas as pd
df = pd.read_csv("books_prep.csv")
user_rating_more = df[(df['Price (Above Average)']) == "Yes"]['User Rating']
user_rating_less = df[(df['Price (Above Average)']) == "No"]['User Rating']
levval = levene(user_rating_more, user_rating_less).pvalue
print(levval)

0.10402083833234738

In [56]:
df["User Rating (Round)"].unique()

array([5, 4, 3], dtype=int64)

In [50]:
from scipy.stats import *
import pandas as pd
df = pd.read_csv("books_prep.csv")
user_rating_more = df[(df['Price (Above Average)']) == "Yes"]['User Rating']
user_rating_less = df[(df['Price (Above Average)']) == "No"]['User Rating']
print(ttest_ind(user_rating_more, user_rating_less, equal_var=True).pvalue)

8.190934970309897e-06

In [60]:
from scipy.stats import *
import pandas as pd
df = pd.read_csv("books_prep.csv")
user_rating_3 = df[(df["User Rating (Round)"]) == 3]["Reviews"]
user_rating_4 = df[(df["User Rating (Round)"]) == 4]["Reviews"]
user_rating_5 = df[(df["User Rating (Round)"]) == 5]["Reviews"]
print(f_oneway(user_rating_3, user_rating_4, user_rating_5).pvalue)

0.2973862975123414

In [61]:
df

,Name,Author,User Rating,Reviews,Price,Year,Genre,User Rating (Round),Price (Above Average)
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,5,No
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,5,Yes
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,5,Yes
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,5,No
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,5,No
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,5,No
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,5,No
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,5,No
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,5,No
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,5,No